Options -MultiViews
RewriteEngine On
RewriteBase /ffabijan/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ffabijan/index.html [L]