@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body{
	font-family: "Questrial", sans-serif;
  	font-weight: 400;
  	font-style: normal;
  	font-size: 14px;
  	line-height: 21px;
  	color: #141615;
}

img{
	max-width: 100%;
}

h2{
	line-height: 1;
}

a{
	color: #141615;
	text-decoration: none;
}

.hero{
	background-image: url('./img/hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}

.hero-1{
    background-image: url('./img/bike-5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.hero.hero-products{
	background-image: url('./img/hero-products.png');
}


.home-4 ul li{
	list-style-type: none;
}

.home-4 ul li h3::before {
    content: "";
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgba(42, 42, 42, 0.1);
    display: inline-block;
    margin-left: -32px;
    margin-right: 10px;
}

.max-466{
	max-width: 466px;
}

.bike{
	background-color: #EBEDEE;
	border-radius: 8px;
	padding: 20px 10px;
}

.bike h3{

}

.bike p{

}

.bike a{

}

.bike a.btn{

}

.bike1{
	background: none;
}

.h1.blog{
	width: 5428;
	height: 3619;
}

.about-us{
	padding: 60px 0;
}

.about-us h2{
	margin-bottom: 60px;
}

.about-us .col-md-4 > div {
    border: 1px solid rgba(20, 22, 21, 0.1);
    padding: 26px;
    min-height: 180px;
}

.opacity-90{
	opacity: 0.9;
}

.footer-top{
	background-color: #404243;
	color: #fff;
	padding: 40px 0;
	font-size: 16px;
}

.footer-top .btn{
	font-size: 14px;
}

footer{
	background-color: #141615;
	color: #F0F0F0;
	padding: 60px 0 100px;
}

footer ul{
	padding: 0;
}

footer ul li{
	list-style-type: none;
}

footer a{
	color: rgba(255, 255, 255, 0.6);
}

.page-header{
	padding: 150px 0;
	background-image:url('./img/page-header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.page-header h1 {
	font-weight: 800;
	line-height: 1.2;
	margin-bottom: 0.5rem;
}

.page-header p{

}

.page-content{
	padding-top: 80px;
	padding-bottom: 80px;
}

.page-content p{
	margin-bottom: 32px;
	font-size: 20px;
	line-height: 1.5;

}


@media (min-width: 1200px) {
	.h1, h1{
		font-size: 4rem;
	}
    .h2, h2 {
        font-size: 3rem;
    }

}
